.App {
  background-color: white;
}

/*===================================REGISTER CSS===================== */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.signup-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
  font-family: 'Roboto';

}

.form-subtitle{
  text-align:center;
  font-size:smaller;
  font-family:Roboto;
}

.form-signin{
  font-family:Roboto;
  color: #4540db;
  font-weight:bold;
  text-decoration:none;

}
.form-group{
  width:auto;
  position:relative;
}

.form-control{
 width:95%;
 border-radius:5px;
 border-width: 1px;
 font-family:Roboto;
}

label {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
  display:block;
  padding-top:10px;
  padding-bottom:3px;
}

.btndiv{
  padding-top:10px;
}
.btn{
  background-color: #4540db;
  color:white;
  width:97%;
  border-radius: 10px;
  padding:10px;
  border:none;
}

.forgotpassword{
  font-family: Roboto;
  text-align:center;
  font-size:smaller;
}

.form-forgot-pwd{
  font-family:Roboto;
  color: #4540db;
  font-weight:bold;
  text-decoration:none;
}